<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Click the thumbnail to download the file</title>
        <link th:href="@{/index.css}" rel="stylesheet" ></link>
    </head>
    <body>
        <div id="Main">
            <div id="links"> <a th:href="@{/}">Home</a> <a th:href="@{/about}">About</a> <a th:href="@{/cvdb}">Files</a> <a sec:authorize="isAuthenticated()" href="javascript: document.logoutForm.submit()" role="menuitem">Logout</a>
                <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                    <input hidden type="submit" value="Sign Out" />
                </form>
            </div>
            <h1>Curriculum Vitae DataBase</h1>
            <div>few thumbnails here.. which work as download links</div>
        </div>
    </body>
</html>
