<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Juurivuohi works</title>
        <script th:src="@{/index.js}"></script> 
        <link th:href="@{/index.css}" rel="stylesheet" ></link>
    </head>
    <body>
        <div id="links"> <a th:href="@{/}">Home</a> <a th:href="@{/about}">About</a> <a th:href="@{/cvdb}">Files</a> <a sec:authorize="isAuthenticated()" href="javascript: document.logoutForm.submit()" role="menuitem">Logout</a>
            <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                <input hidden type="submit" value="Sign Out" />
            </form>
        </div>

        <h1>Project curriculum vitae</h1>
        <h2>Drop a comment!</h2>

        <form onsubmit="return false" id="comments">
            <b>Comment</b><br><textarea rows="4" cols="50" id="commentInput" form="comments"></textarea><br>
            <b>Name</b> (Not required) <br><input type="text" id="usernameInput"/><br><br>
            <input type="submit" onclick="onClick()" value="Submit">
        </form>
        <br>
        <br>
        <div id="Messages"></div>
    </body>
</html>
